<!DOCTYPE html>
<html>

<body>
  <%= render 'shared/navbar' %>

  <section class="main">
    <div class="container">
    <div class="main-content">
      <h1>Hello, my name is Mark Lee. <br> Welcome to my portfolio. <br> I am a back end || Ruby on rails developer based in Berlin, Germany.
          <br>Nam rhoncus augue sit amet tortor viverra maximus. </h1>
    </div>
  </div>
  </section>

  <section class="footer">
    <div class="footer-links">
    </div>
    <div class="footer-copyright">
      This footer is for the back-end professional.
    </div>
  </section>

</body>
</html>
