<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="css/all.css">
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/reset.css">
  <link rel="stylesheet" href="css/grid.css">
  <link rel="stylesheet" href="css/style.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;700&display=swap" rel="stylesheet">
  <title></title>
</head>

<body>
  <header class="header">
    <div class="container">
      <div class="main-nav">
      <img class="logo" src="images/mark-logo.svg">
      <ul class="ul">
        <li><a href="#">Home</a></li>
        <li><a href="#">Work</a></li>
        <li><a href="#">About Me</a></li>
      </ul>
      </div>
    </div>
  </header>

  <section class="main">
    <img src="images/mark-photo.jpg">
    <div class="container">
    <div class="main-content">
      <h1>Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br> Aenean sed gravida lacus, vel tristique velit.
          <br>Nam rhoncus augue sit amet tortor viverra maximus. </h1>
    </div>
  </div>
  </section>

  <section class="footer">
    <div class="footer-links">
    </div>
    <div class="footer-copyright">
      This footer is for the back-end professional.
    </div>
  </section>

</body>
</html>
