 <%= render 'shared/navbar' %>

<div class="container">
  <section class="section" id="section--3">
  <div class="plants row">
    <div class="col-8">
      <img src="https://res.cloudinary.com/dftzp2fex/image/upload/v1618410815/plants3_f58v99.png" class="plants1">
      <img src="https://res.cloudinary.com/dftzp2fex/image/upload/v1618410893/plants4_u2xh72.png" class="plants1">
    </div>
    <div class="col-4">
      <h2 id="green">Plants vs Zoombies</h2>
      <br>
      <p>Plants vs Zoombies was my first project as a developer, made on the 7th week of Bootcamp. <br/> Having as a task to build an
      Airbnb clone with an open theme, our group choose Plants-vs-Zoombies characters, what was an great choice for te design of the website.
      Build in Ruby on rails the user can check offers and informations about plants of his choice and also add an offer if he has any.
      Beeing in charge for the back end, this was my first time working with rails and it couldn't be better, how dinamic, intuitive and easy to use and read
      made me fall in love with the web framework. Feel free to check the website! <button type="button" class="btn btn-success">Link</button>
      </p>
    </div>
  </div>
  </section>

  <div class="row">
    <div class=" where2 col-4">
      <h1>Where<span id="blue">2</span>live</h1>
      <p>Where2Live a safe place to find your new place. As the name and subtitle says this application helps people to get information about the area
      that they pretend to move in or to rent for a short period. The user can choose up to 6 amenityes of his preference and our app will filter which
      districts contains those choices and display it to the user. After this, the user choose a district and it displays   </p>
    </div>
    <section class="col-8">
      <div class="slider">
          <div class="slide">
            <div class="testimonial">
                <img src="https://res.cloudinary.com/dftzp2fex/image/upload/v1618574937/where1_xodaze.png"/>
            </div>
          </div>

        <div class="slide">
            <div class="testimonial">
                <img src="https://res.cloudinary.com/dftzp2fex/image/upload/v1618575012/where2_zonhlq.png" />
            </div>
        </div>

        <div class="slide">
            <div class="testimonial">
                <img src="https://res.cloudinary.com/dftzp2fex/image/upload/v1618575017/where3_meq569.png" />
            </div>
        </div>

        <div class="slide">
            <div class="testimonial">
                <img src="https://res.cloudinary.com/dftzp2fex/image/upload/v1618575022/where4_joqpfy.png" />
            </div>
        </div>

        <div class="slide">
            <div class="testimonial">
                <img src="https://res.cloudinary.com/dftzp2fex/image/upload/v1618575027/where6_c89irv.png" />
            </div>
        </div>

        <div class="slide">
            <div class="testimonial">
                <img src="https://res.cloudinary.com/dftzp2fex/image/upload/v1618575057/where7_vbqrzn.png" />
            </div>
        </div>

        <button class="slider__btn slider__btn--left">&larr;</button>
        <button class="slider__btn slider__btn--right">&rarr;</button>
        <div class="dots"></div>
      </div>
    </section>

  </div>
</div>
