<div class="container">
  <section class="section" id="section--3">
  <div class="plants">
    <div>
      <img src="https://res.cloudinary.com/dftzp2fex/image/upload/v1618410815/plants3_f58v99.png" class="plants1">
      <img src="https://res.cloudinary.com/dftzp2fex/image/upload/v1618410893/plants4_u2xh72.png" class="plants1">
    </div>
    <div>
      <h1>Lorem ipsum</h1>
    </div>
  </div>
  </section>

  <div class="row">
    <section class="col-9">
      <div class="slider">
          <div class="slide">
            <div class="testimonial">
                <img src="https://res.cloudinary.com/dftzp2fex/image/upload/v1618574937/where1_xodaze.png"/>
            </div>
          </div>

        <div class="slide">
            <div class="testimonial">
                <img src="https://res.cloudinary.com/dftzp2fex/image/upload/v1618575012/where2_zonhlq.png" />
            </div>
        </div>

        <div class="slide">
            <div class="testimonial">
                <img src="https://res.cloudinary.com/dftzp2fex/image/upload/v1618575017/where3_meq569.png" />
            </div>
        </div>

        <div class="slide">
            <div class="testimonial">
                <img src="https://res.cloudinary.com/dftzp2fex/image/upload/v1618575022/where4_joqpfy.png" />
            </div>
        </div>

        <div class="slide">
            <div class="testimonial">
                <img src="https://res.cloudinary.com/dftzp2fex/image/upload/v1618575027/where6_c89irv.png" />
            </div>
        </div>

        <div class="slide">
            <div class="testimonial">
                <img src="https://res.cloudinary.com/dftzp2fex/image/upload/v1618575057/where7_vbqrzn.png" />
            </div>
        </div>

        <button class="slider__btn slider__btn--left">&larr;</button>
        <button class="slider__btn slider__btn--right">&rarr;</button>
        <div class="dots"></div>
      </div>
    </section>
    <div class=" where2 col-3">
      <h1>Lorem ipsum</h1>
    </div>
  </div>
</div>
